.featured-products {
  padding: 153px 0 120px;
  margin-bottom: 100px;

  @media screen and (max-width: 750px) {
    padding: 60px 0 30px;
  }
}

.featured-products__header {
  text-align: center;
  margin-bottom: 78px;
}

.featured-products__title {
  color: #2B2424;
  text-align: center;
  font-family: 'Manrope-SemiBold', sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 109.3%;
  margin-bottom: 30px;

  @media screen and (max-width: 750px) {
    margin-bottom: 15px;
  }
}

.featured-products__description {
  color: #8E8385;
  text-align: center;
  font-family: 'Manrope-Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  max-width: 500px;
  margin: 0 auto 30px;

  @media screen and (max-width: 750px) {
    margin-bottom: 15px;
  }
}

.featured-products__link {
  color: #2B2424;
  font-family: 'Manrope-Bold', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.featured-products__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 30px;

  @media screen and (max-width: 980px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

.featured-products__wrapper .card-wrapper {
  width: 100%;
}

.featured-products {
  .card__inner {
    border-radius: 20px;
    overflow: hidden;
  }

  .card__information {
    padding: 26px 0;

    @media screen and (max-width: 750px) {
      padding: 16px 5px !important;
    }
  }

  .card__vendor {
    color: #685A5C;
    font-family: 'TiemposText-Regular', serif;
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 8px;
  }

  .card__vendor .caption-with-letter-spacing {
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0;
    opacity: 1;
  }

  .card__heading {
    color: #2B2424;
    font-family: 'Manrope-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .price__container {
    color: #685A5C;
    font-family: 'Manrope-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 16.154px;
    letter-spacing: 0.808px;
    text-transform: uppercase;
  }

  .quick-add {
    margin-bottom: 0;
  }

  .quick-add button {
    color: #8E8385;
    text-align: center;
    font-family: 'Manrope-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #D9D6D6;
    transition: all 0.2s ease-out;
  }

  .quick-add button::after {
    content: none;
  }

  .quick-add button:hover {
    color: #2B2424;
  }

  .card-information--price-and-stars {
    display: flex;

    @media screen and (max-width: 750px) {
      display: block;
    }
  }

  .card-information__wrapper-stars {
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-items: center;

    @media screen and (max-width: 750px) {
      display: block;
    }
  }

  .card-information__reviews {
    color: #8E8385;
    font-family: 'Manrope-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
  }

  .card-information__stars {
    display: flex;
  }
}